@use "../global" as g;

.p-footer {
  position: relative;
}

.p-footer__bg-right {
  position: absolute;
  top: 80px;
  left: calc(50% + (1332px - (1512px / 2)));
  //   left: calc(50% + (반대에서부터거리 - (부모요소넓이 / 2)));
  img {
    max-width: 100px;
    height: 220px;
  }
}

.p-footer__inner {
  text-align: center;
}
.p-footer__title {
  font-family: g.$ff-en-jose;
  font-size: g.$fz-lg;
  line-height: 1.25;
  @include g.mq(md) {
    font-size: g.$fz-xl;
  }
}

.p-footer__sns {
  margin-top: 24px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.p-footer__sns-img {
  height: 32px;
  width: 32px;
  img.youtube-icon {
    width: 27px;
    height: 27px;
  }
  img {
    width: 100%;
    height: 100%;
    filter: g.$filter-svg;
  }
  @include g.mq(md) {
    height: 40px;
    width: 40px;
    img.youtube-icon {
      height: 39px;
      width: 34px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.p-footer__logo {
  position: relative;
  z-index: -1;
  margin-top: 8px;
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 335 / 55;
  }
  @include g.mq(md) {
    margin-top: 30px;
    width: 755px;
    height: 125px;
    margin-inline: auto;
    img {
      width: 100%;
      height: 100%;
      //   aspect-ratio: 0;
    }
  }
}
.p-footer-address {
  border-radius: 16px;
  overflow: hidden;

  background-color: g.$color-white;
  margin-top: -16px;
  @include g.mq(md) {
    margin-top: -36px;
  }
}

.p-footer-address__content {
  display: flex;
  flex-direction: column;
  @include g.mq(md) {
    flex-direction: row-reverse;
  }
}

.p-footer-address__map {
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 335/271;
    vertical-align: middle;
  }
  @include g.mq(md) {
    // width: calc(1024px / 2);
    // flex-shrink: 0;
    width: 50%;
    iframe {
      aspect-ratio: 512/400;
    }
  }
}

.p-footer-address__info {
  padding: 24px 24px 29px 24px;

  display: flex;
  gap: 30px;
  flex-direction: column;
  @include g.mq(md) {
    justify-content: center;
    margin-inline: auto;
    gap: 25px;
    @include g.mq(md) {
      padding: 10px;
    }
  }
}

.p-footer-address__info-title {
  width: 153px;
  margin-inline: auto;
  img {
    display: block;
  }
  @include g.mq(md) {
    width: 183px;
    margin-inline: 0;
    // align-self: flex-start;
  }
}

.p-footer-address__info-rows {
  display: grid;
  gap: 8px;
  justify-content: center;
  @include g.mq(md) {
    gap: 12.3px;
  }
}

.p-footer-address__info-row {
  display: flex;
  text-align: left;

  gap: 16px;
  @include g.mq(md) {
    gap: 40px;
  }
}

.p-footer-address__info-main {
  font-size: g.$fz-xs;
  min-width: 64px;

  padding-left: 16px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: g.$color-blue-main;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  @include g.mq(sm) {
    min-width: calc(64px + 8px + 8px);
    font-size: g.$fz-sm;
  }
  @include g.mq(lg) {
    font-size: g.$fz-md;
  }
}

.p-footer-address__info-description {
  font-size: g.$fz-xs;
  @include g.mq(sm) {
    font-size: g.$fz-sm;
  }

  @include g.mq(lg) {
    font-size: g.$fz-md;
  }
}

.p-footer__copyright {
  text-align: center;
  margin-top: 127px;
  padding-top: 45.7px;

  position: relative;
  @include g.mq(md) {
    margin-top: 120px;
    padding-top: 120px;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 45.7px;
    background-image: url("../img/footer/wave-top-sp.png");
    background-repeat: repeat-x;
    background-position: left -5px center;
    background-size: auto 100%;
    @include g.mq(md) {
      height: 120px;
      background-image: url("../img/footer/wave-top.png");
      background-position: left -3px center;
    }
  }

  small {
    display: block;
    padding-bottom: 24px;
    background-color: g.$color-d-blue;
    color: g.$color-white;

    font-size: g.$fz-mini;
    @include g.mq(sm) {
      font-size: g.$fz-sm;
      padding-bottom: 32px;
    }
  }
}

.p-footer__top-btn {
  display: none;

  a {
    display: inline-block;
    position: fixed;
    width: 78px;
    height: 81px;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    @include g.mq(md) {
      width: 100px;
      height: 104px;
      right: 40px;
      left: auto;
      transform: none;
    }
  }
}
