@use "../global" as g;
.l-footer {
  padding-top: 41px;
  @include g.mq(lg) {
    padding-top: 80px;
  }
  @include g.mq(lg) {
    padding-top: 119px;
  }
}

.l-footer__inner {
  padding-inline: g.$padding-inline-sp;
  margin-inline: auto;
  max-width: g.$inner-width-sm;
  @include g.mq(md) {
    padding-inline: g.$padding-inline-md;
    max-width: calc(g.$inner-width-lg + 40px * 2);
  }
}
